
#stacks_in_1462_page9 {
	padding:  11px;
}

#stacks_in_1464_page9 {
	border: solid rgba(184, 38, 130, 1.00);
	border-width:  5px;
	-moz-border-radius: 20px 20px 20px 20px;
	-webkit-border-radius: 20px 20px 20px 20px;
	border-radius: 20px 20px 20px 20px;
	margin: 4px 130px 7px 130px;
	padding: 10px 10px 4px 15px;
}

#stacks_in_1465_page9 {
	font-size: 160%;
}

#stacks_in_1466_page9 {
	padding: 5px 30px 4px 30px;
}

#stacks_in_1467_page9 {
	font-size: 144%;
}

#stacks_in_1470_page9 {
	border: solid rgba(211, 99, 67, 1.00);
	border-width:  5px;
	-moz-border-radius: 20px 20px 20px 20px;
	-webkit-border-radius: 20px 20px 20px 20px;
	border-radius: 20px 20px 20px 20px;
	margin: 4px 130px 5px 130px;
	padding: 5px 30px 5px 30px;
}

#stacks_in_1468_page9 {
	margin: 5px 30px 10px 30px;
}
